.details{
  display: flex;
  align-items: center;
 
}
#icon{
  padding-left: 5px;
}
.details img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding-right: 5px;
}
.details button{
  border: none;
  background-color: white;
}