.conceptual{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  margin: 50px 30px;
}
.question{
  border: 2px dotted steelblue;
  border-radius: 20px;
  padding: 20px 10px;
  background-color: rgba(171, 190, 219, 0.3);
}

@media screen and (max-width:700px) {
  .conceptual{
    grid-template-columns: 1fr;
  }
  
}